<!--The content below is only a placeholder and can be replaced.-->
<form class="form-wrapper">
  <div class="form-group">
    <label >Student Name : </label>
    <input type="text" class="form-control" id="studentname"  placeholder="Enter Name"><br>
    <label >Enter Address : </label>
    <input type="text" class="form-control" id="address"  placeholder="Enter Address"><br>
    <label >Enter Gender : </label>
    <input type="text" class="form-control" id="gender"  placeholder="Enter Gender"><br>
    <label >Mobile Number : </label><br>
    <input type="text" class="input-medium bfh-phone" id="mobile"><br><br>
    <label >College Name : </label>
    <input type="text" class="form-control" id="collegename" placeholder="Enter College Name"><br>
    <label >Email id : </label>
    <input type="text" class="form-control" id="email" placeholder="Enter College Name"><br>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>